//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Thu 02 12 17:21:52 2026

IO_LOC "address[5]" 16;
IO_PORT "address[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "address[4]" 15;
IO_PORT "address[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "address[3]" 14;
IO_PORT "address[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "address[2]" 13;
IO_PORT "address[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "address[1]" 11;
IO_PORT "address[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "address[0]" 10;
IO_PORT "address[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "top_out[7]" 38;
IO_PORT "top_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "top_out[6]" 37;
IO_PORT "top_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "top_out[5]" 36;
IO_PORT "top_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "top_out[4]" 39;
IO_PORT "top_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "top_out[3]" 25;
IO_PORT "top_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "top_out[2]" 26;
IO_PORT "top_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "top_out[1]" 27;
IO_PORT "top_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "top_out[0]" 28;
IO_PORT "top_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "pc_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pc_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pc_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pc_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pc_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pc_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pc_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "pc_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "sys_nrst" 3;
IO_PORT "sys_nrst" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
